﻿@model refresh_project.Models.View.FormulirModelView


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form style="color:#de0000">
    <div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Email</label>
                @Html.EditorFor(model => model.e_mail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.e_mail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Nama</label>
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>NPM/NIS</label>
                @Html.EditorFor(model => model.npm_nis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.npm_nis, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Umur</label>
                @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Jenis Kelamin</label>
                <br />
                <input type="radio" id="pria" name="gender" value=true>
                <label for="male">Laki-laki</label><br>
                <input type="radio" id="wanita" name="gender" value=false>
                <label for="male">Perempuan</label><br>
                @*@Html.EditorFor(model => model.gender)
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Telp</label>
                @Html.EditorFor(model => model.telp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telp, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Alamat Saat Ini</label>
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Alamat Asal</label>
                @Html.EditorFor(model => model.address_asal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address_asal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-lg-6" style="margin:auto">
                <label>Saat Ini Saya Berada Di:</label>
                @Html.EditorFor(model => model.domisili, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.domisili, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row" style="padding-top:15px">
            <div class="col-lg-12">
                <input type="submit" value="Save" class="btn btn-default col-md-offset-7" id="btn_add_save" style="background-color:#1181d1; color:white; float:right" />
            </div>
        </div>


    </div>
</form>
















@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>FormulirModelView</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.is_delete, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.is_delete)
                        @Html.ValidationMessageFor(model => model.is_delete, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.e_mail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.e_mail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.e_mail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.npm_nis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.npm_nis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.npm_nis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.gender)
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.telp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telp, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.address_asal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.address_asal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address_asal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.domisili, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.domisili, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.domisili, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
