﻿@model refresh_project.Models.View.FormulirModelView

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-3"><i class="fas fa-trash" style="display:block; width: 70%; height: 70%; margin: auto; color:darkred;  padding-top:15px"></i></div>
    <div class="form-group col-md-9" style="padding-top:20px; color:darkred">
        <div>
            <h4 style="margin: auto">Anda yakin ingin menghapus data </h4>
            <h4 style="margin: auto">@Html.DisplayFor(model => model.name) ?</h4>
            @Html.HiddenFor(model => Model.id)
        </div>
    </div>
</div>
<div class="row" style="padding-top:40px">
    <div class="col-md-12">
        <div class="btn-group  col-md-offset-5" role="group" aria-label="Basic example" style="float:right">
            <button type="button" class="btn" style="background-color:orangered; color:white; width:90px" id="cancel" data-dismiss="modal">Tidak</button>
            <button type="button" class="btn" style="background-color:darkred; color:white; width:90px" id="btn_delete_save">Iya</button>
        </div>
    </div>
</div>








@*<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FormulirModelView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.is_delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.npm_nis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.npm_nis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_asal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_asal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domisili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domisili)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@
