﻿@model refresh_project.Models.View.FormulirModelView


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.npm_nis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.npm_nis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_asal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_asal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domisili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domisili)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
