﻿@{
    ViewBag.Title = "Index";
}

<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelAdd" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:920px; max-width:100%">
        <!-- modal content -->
        <div class="modal-content" style=" border-color:#343a40">
            <!-- modal header -->
            <div class="modal-header" id="modal-header" style="background-color:#343a40">
                <h3 class="modal-title" id="modal-title-popup"
                    style="color:white">
                    Judul Modal
                </h3>

                <button class="close" style="color:white" id="tutup" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <!-- modal body dan footer -->
            <div class="div-bind-form" id="div-bind-form" style="margin-top: 5px; margin-left: 20px; margin-right: 20px; margin-bottom: 15px">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>



<!-- modal popup bootstrap - Delete Form -->
<div class="modal fade" id="modal-form-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelAdd" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:500px">
        <!-- modal content -->
        <div class="modal-content" style=" border-color:darkred">
            <!-- modal header -->
            <div class="modal-header" id="modal-header" style="background-color:darkred">
                <h3 class="modal-title" id="modal-title-popup-delete"
                    style="color:white">
                    Judul Modal
                </h3>
                <button class="close" style="color:white" id="tutup-delete" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <!-- modal body dan footer -->
            <div class="div-bind-form" id="div-bind-form" style="margin-top:10px; margin-left:10px; margin-right:10px; margin-bottom:10px">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>


<div id="table-list" style="background-color:white">
    <div class="progress progress-striped active"
         style="margin-bottom:0">
        <div class="progress-bar" style="width:100%">
        </div>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            ShowList();
        });
        var vjs_loading = '<div class="progress progress-striped active" style="margin-bottom:0"> <div class="progress-bar" style="width:100%"> </div> </div>';

        function ShowList() {
            $("#table-list").html(vjs_loading);
            $.ajax({
                url: '@Url.Action("List", "Formulir")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        }



        //Popup Tambah Data
        $(document).on("click", "#btn_create", function () {
            $("#table-list").html(vjs_loading);
            $.ajax({
                url: '@Url.Action("Create", "Formulir")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        });

        $(document).on("click", "#btn_add_save", function () {
            var vjs_e_mail = $("#e_mail").val();
            var vjs_name = $("#name").val();
            var vjs_npm_nis = $("#npm_nis").val();
            var vjs_age = $("#age").val();
           
            if ($("#pria").is(":checked")) {
                var vjs_gender = $("#pria").val();
            }
             if ($("#wanita").is(":checked")) {
                var vjs_gender = $("#wanita").val();
            }
            var vjs_telp = $("#telp").val();
            var vjs_address = $("#address").val();
            var vjs_address_asal = $("#address_asal").val();
            var vjs_domisili = $("#domisili").val();


             var vjs_schedule_date = $("#schedule_date").val();
            vjs_schedule_date == "" ? $(".validasi1").show() : $(".validasi1").hide();



            var item = {
                e_mail: vjs_e_mail,
                name: vjs_name,
                npm_nis: vjs_npm_nis,
                age: vjs_age,
                gender: vjs_gender,
                telp: vjs_telp,
                address: vjs_address,
                address_asal: vjs_address_asal,
                domisili: vjs_domisili
            };
            $.ajax({
                url: '@Url.Action("Create", "Formulir")',
                type: 'post',
                data: { paramModel: item },
                success: function (result) {
                    if (result.success) {
                        alert("Data Berhasil Ditambah");
                        ShowList();
                    }
                    else {
                        alert(result.message);
                    }
                }
            });
        });


        //Popup Detail
        $(document).on("click", "#detail-covid", function () {
            $("#modal-form").modal("show");
            $("#modal-title-popup").html("Detail");
            $(".div-bind-form").html(vjs_loading);

            var vjs_id = $(this).attr("data-id");

            $.ajax({
                url: '@Url.Action("Detail", "Formulir")',
                type: 'get',
                data: { paramId: vjs_id },
                success: function (result) {
                    $(".div-bind-form").html(result);
                }
            })
        });



        //Popup Edit
        $(document).on("click", "#edit-covid", function () {
            $("#modal-form").modal("show");
            $("#modal-title-popup").html("Edit");
            $(".div-bind-form").html(vjs_loading);

            var vjs_id = $(this).attr("data-id");

            $.ajax({
                url: '@Url.Action("Edit", "Formulir")',
                type: 'get',
                data: { paramId: vjs_id },
                success: function (result) {
                    $(".div-bind-form").html(result);
                }
            })
        });

        $(document).on("click", "#btn_edit_save", function () {
            var vjs_id = $("#id").val();
            var vjs_e_mail = $("#e_mail").val();
            var vjs_name = $("#name").val();
            var vjs_npm_nis = $("#npm_nis").val();
            var vjs_age = $("#age").val();
            var vjs_gender = $("#gender").val();
            var vjs_telp = $("#telp").val();
            var vjs_address = $("#address").val();
            var vjs_address_asal = $("#address_asal").val();
            var vjs_domisili = $("#domisili").val();


            var itemEdit = {
                id: vjs_id,
                e_mail: vjs_e_mail,
                name: vjs_name,
                npm_nis: vjs_npm_nis,
                age: vjs_age,
                gender: vjs_gender,
                telp: vjs_telp,
                address: vjs_address,
                address_asal: vjs_address_asal,
                domisili: vjs_domisili
            };

            $.ajax({
                url: '@Url.Action("Edit", "Formulir")',
                type: 'post',
                data: { paramModel: itemEdit },
                success: function (result) {
                    if (result.success) {
                        $("#modal-form").modal("hide");
                        alert("Data Berhasil Diubah");
                        ShowList();
                    }
                    else {
                        alert(result.message);
                    }
                }
            });
        });



        //Popup Delete
        $(document).on("click", "#delete-covid", function () {
            $("#modal-form-delete").modal("show");
            $("#modal-title-popup-delete").html("Hapus Data ?");
            $(".div-bind-form").html(vjs_loading);

            var vjs_id = $(this).attr("data-id");

            $.ajax({
                url: '@Url.Action("Delete","Formulir")',
                type: 'get',
                data: { Id: vjs_id },
                success: function (result) {
                    $(".div-bind-form").html(result);
                }
            });
        });

        $(document).on("click", "#btn_delete_save", function () {
            var vjs_id = $("#id").val();

            var itemDelete = {
                id: vjs_id
            };
            $.ajax({
                url: '@Url.Action("Delete", "Formulir")',
                type: 'post',
                data: { paramModel: itemDelete },
                success: function (result) {
                    if (result.success) {
                        $("#modal-form-delete").modal("hide");
                        alert("Data Berhasil Dihapus");
                        ShowList();
                    }
                    else {
                        alert(result.message);
                    }
                }
            });
        });





    </script>
}