﻿@model IEnumerable<refresh_project.Models.View.FormulirModelView>


<div style="padding-left:20px; padding-top:7px">
    <h2 style="font-family:fantasy; color:#976755">List Deteksi Dini(COVID-19)</h2>
</div>
<table class="table">
    <tr>
        <th>
            Nama
        </th>
        <th>
            Email
        </th>
        <th>
            NPM/NIS
        </th>
        <th>
            Umur
        </th>
        <th>
            Jenis Kelamin
        </th>
        <th>
            Telp
        </th>
        <th>
            Alamat
        </th>
        <th>
            Alamat Asal
        </th>
        <th>
            Domisili
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.npm_nis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @(item.gender == true ? "Laki-laki" : "Perempuan")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address_asal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.domisili)
            </td>

            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle btn" href="#" type="button" data-toggle="dropdown" style="background-color: #976755; color: white">
                        More
                        <span class="caret" style="border-top: 4px solid #FFFFFF"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="#" id="detail-covid" data-id="@item.id" style="color:#343a40">
                                <i class="far fa-circle"></i>
                                Detail
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" id="edit-covid" data-id="@item.id" style="color:#343a40">
                                <i class="far fa-circle"></i>
                                Edit
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" id="delete-covid" data-id="@item.id" style="color:#343a40">
                                <i class="far fa-circle"></i>
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>












@*<h2>List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.is_delete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e_mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.npm_nis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address_asal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.domisili)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.is_delete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.e_mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.npm_nis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address_asal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.domisili)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>*@
